<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">
                Copyright &copy;
                <a class="text-decoration-none" href="http://jfcfuturedevelopment.com//" target="_blank">Dhaka Choice Ltd.</a> @DateTime.Now.Year
            </div>
            <div>
                <a class="text-decoration-none" href="#">Privacy Policy</a>
                &middot;
                <a class="text-decoration-none" href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>