<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] DhakaChoiceLtd.</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <header>
        <nav style="overflow: hidden; z-index: 1; position: fixed; top: 0; width: 100%" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a id="nav-item-a" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Search"> <i class="fa fa-search" style="padding-right: 4px; color: gray;"></i><b id="nav-item-b">Search</b></a>
                        </li>
                        <li class="nav-item">
                            <a id="nav-item-a" class="nav-link text-dark disabled" asp-area="" asp-controller="Home" asp-action="Search"> <i class="fa fa-bell" style="padding-right:4px;color: gray;"></i><b id="nav-item-b">Notification</b></a>
                        </li>
                        <li class="nav-item">
                            <a id="nav-item-a" class="nav-link text-dark" style="cursor: pointer">
                                <i class='fa fa-coins fa-spin' style="padding-right:4px;color: gray;"></i><b id="nav-item-b">DC Credits</b>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="nav-item-a" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Cart"><i class="fa fa-cart-plus" style="padding-right:4px;color: gray;"></i><b id="nav-item-b">Cart (2)</b></a>
                        </li>
                        <li class="nav-item">
                            <a id="nav-item-a" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MyAccount"><i class="fa fa-user-cog" style="padding-right:4px;color: gray;"></i><b id="nav-item-b">My Account</b></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-danger font-weight-bold h5" asp-area="" asp-controller="Home" asp-action="Mainpage" id="Logo">Dhaka Choice Ltd.</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" id="locationDiv">

                            <!-- Button trigger modal -->
                            <div class="locationDiv" type="button" data-toggle="modal" data-target="#exampleModal">
                                Deliver To
                            </div>
                        </li>
                        <li class="nav-item">
                            <div type="button" data-toggle="modal" data-target="#exampleModal">
                                <i class="fa fa-map-marker-alt" style="color: orangered"></i> <b id="nav-item-b1">HOME:</b><b id="nav-item-b2">পশ্চিম রাজা বাজার</b><i class="fa fa-angle-down" style="margin-left: 5px;"></i>
                            </div>
                        </li>
                    </ul>
                </div>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-danger font-weight-bold h5" asp-area="" asp-controller="Home" asp-action="Mainpage" id="mobilescreenLogo">Dhaka Choice Ltd.</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <h1 style="color: #FA6904;">
                            Choose Your Location
                        </h1>
                        <input type="text" name="Location" class="col-12 p-3" style="border-style:solid; font-size:16px;" placeholder="Enter Your Location Name. Eg. Gulshan 1" />
                        <button class="findLocationBtn">
                            Find Food
                        </button>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="indexfirstDiv">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-1">
        <div class="main-footer widgets-dark typo-light">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h6 class="widget-title">Company</h6>
                            <ul class="thumbnail-widget font-weight-light">
                                <li>
                                    <div class="thumbnail-content"><a href="#." class="text-white-50">About Us</a></div>
                                </li>
                                <li>
                                    <div class="thumbnail-content"><a href="#." class="text-white-50">Contact Us</a></div>
                                </li>
                                <li>
                                    <div class="thumbnail-content"><a href="#." class="text-white-50">Terms & Conditions</a></div>
                                </li>
                                <li>
                                    <div class="thumbnail-content"><a href="#." class="text-white-50">Cancellation & Refund Policy</a></div>
                                </li>
                                <li>
                                    <div class="thumbnail-content"><a href="#." class="text-white-50">Privacy Policy</a></div>
                                </li>
                                <li>
                                    <div class="thumbnail-content"><a href="#." class="text-white-50">Blog</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h6 class="widget-title">COVERAGE AREA</h6>
                            <ul class="thumbnail-widget" style="font-weight:300">
                                <li>
                                    <div class="thumb-content text-white-50">&nbsp;Dhaka</div>
                                </li>
                                <li>
                                    <div class="thumb-content text-white-50">&nbsp;Gazipur</div>
                                </li>
                            </ul>
                        </div>
                    </div>



                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget subscribe no-box">
                            <h6 class="widget-title">Help</h6>
                            <ul class="thumbnail-widget font-weight-light">
                                <li>
                                    <div class="thumb-content text-white-50">Customer Support</div>
                                </li>
                                <li>
                                    <div class="thumb-content text-white-50">Live Chat</div>
                                </li>
                                <li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <br>


                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h6 class="widget-title">GET OUR WEEKLY NEWSLETTER</h6>
                            <p class="text-white-50 font-weight-light">Want discount vouchers and the latest news from the hottest restaurants?</p>
                            <div class="emailfield">
                                <form>
                                    <input type="email" name="email" placeholder="Enter your email address" id="input">
                                    <input class="submitbutton ripplelink" type="submit" value="Submit">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a href="https://wwww.facebook.com/dhakachoiceltd" style="padding-right: 20px"> <i id="i" class="fa fa-facebook"> </i> </a>
                            <a href="#" style="padding-right: 20px"> <i id="i" class="fa fa-twitter"> </i> </a>
                            <a href="#" style="padding-right: 20px"> <i id="i" class="fa fa-youtube"> </i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/myjs.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
