@{
    ViewData["Title"] = "Doctor";
    Layout = "_DoctorDashboardLayout";
}
<div class="row">
    <div class="col-12" id="doctorservicetextdiv"><h1>DOCTOR PROFILE</h1></div>
    <div class="col-md-6">
        <div style="width: 70%">
            <img src="~/Images/Doctor-Service.png" style="height: 40%; width: 40%; border-radius: 50%; margin-left: 20px;" />
            <h5>Prof. Dr. Pran Gopal Datta</h5>
            <p>Ear, Nose & Throat Specialist & Head Neck Surgeon</p>
            <p>MBBS, MCPS, ACORL, PhD, MSc(Audiology), FCPS (ENT), FRCS (Glasgow)</p>
            <b>Bangabandhu Sheikh Mujib Medical University Hospital</b>
        </div>
    </div>
    <div class="col-md-6">
        <div style="background-color: #00222F; width: 100%; height: 320px;">
            <div class="row" style="width: 90%; margin-left: 27px; padding-top: 15px">
                <div class="col-12">
                    <div class="float-left">
                        <b style="color: white; font-weight: 700; font-size: 18px">Service Charge</b><i class="fa fa-edit" style="margin-left: 20px; color: white; font-size: 16px"></i>
                    </div>
                    <div class="float-right">
                        <b style="color: orangered; font-weight: 700; font-size: 18px">500 TK.</b>
                    </div>
                </div><br>
                <div class="col-12">
                    <b style="color: orangered; font-weight: 700; font-size: 18px;">Hospital name</b><i class="fa fa-edit" style="margin-left: 20px; color: white; font-size: 16px"></i>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin-top: 5px;">
                        <li class="nav-item" style="margin-bottom: 10px;">
                            <a class="nav-link1 active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">BSMMU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">DMC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">APOLLO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">SQUER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">POPULAR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">LABAID</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12">
                    <b style="font-size: 20px;color: white">Working Time</b><i class="fa fa-edit" style="margin-left: 20px; color: white; font-size: 16px"></i>
                    <p style="font-size: 20px;color: white">Mon-Fri<b style="font-size: 20px; color: white; font-weight: 400; margin-left: 5px;">09:00AM-08:00PM</b></p>
                </div>
                <div class="col-12">
                    <b style="font-size: 20px;color: white">January</b><i class="fa fa-edit" style="margin-left: 20px; color: white; font-size: 16px"></i>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin-top: 5px;">
                        <li class="nav-item" style="margin-bottom: 10px;">
                            <div style="border: 2px solid white; width: 67px; height: 70px; margin-top: 5px; text-align: center;">
                                <div style="width: 100%; height: 20px;" class="nav-link1 active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"></div>
                                <div style="margin-top: 10px;">
                                    <input type="checkbox" style="outline: none" id="btn-check-outlined" autocomplete="off">
                                    <b style="color: white;" for="btn-check-outlined">3 Mon</b>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div style="border: 2px solid white; width: 67px; height: 70px; margin-top: 5px; text-align: center;">
                                <div style="width: 100%; height: 20px;" class="nav-link1" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"></div>
                                <div style="margin-top: 10px;">
                                    <b style="color: white;">4 Tue</b>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div style="border: 2px solid white; width: 67px; height: 70px; margin-top: 5px; text-align: center;">
                                <div style="width: 100%; height: 20px;" class="nav-link1" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"></div>
                                <div style="margin-top: 10px;">
                                    <b style="color: white;">5 Wed</b>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div style="border: 2px solid white; width: 67px; height: 70px; margin-top: 5px; text-align: center;">
                                <div style="width: 100%; height: 20px;" class="nav-link1" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"></div>
                                <div style="margin-top: 10px;">
                                    <b style="color: white;">6 Thu</b>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div style="border: 2px solid white; width: 67px; height: 70px; margin-top: 5px; text-align: center;">
                                <div style="width: 100%; height: 20px;" class="nav-link1" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"></div>
                                <div style="margin-top: 10px;">
                                    <b style="color: white;">7 Fri</b>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div style="border: 2px solid white; width: 67px; height: 70px; margin-top: 5px; text-align: center;">
                                <div style="width: 100%; height: 20px;" class="nav-link1" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"></div>
                                <div style="margin-top: 10px;">
                                    <b style="color: white;">10 Mon</b>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>