@model SSEcommerceWebApp.Models.DoctorWorkingDetail

@{
    ViewData["Title"] = "Doctor";
    Layout = "_DoctorDashboardLayout";
}

<div class="page-header" style="margin-top: 20px">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title d-flex">
                <div class="shadow-lg" style="width: 50px; height: 50px; background-color: #098AFC; text-align: center; opacity: 0.7; border-radius: 10px;">
                    <i class="fa fa-list-alt" style="width: 30px; height: 30px; color: White; margin-top:8px;"></i>
                </div>
                <div class="d-inline" style="padding-left: 10px;margin-top: -4px;">
                    <h5>Add</h5>
                    <span>Working Details</span>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container card border shadow-lg p-3 mb-5 bg-body rounded-3 w-50 p-3" style="background-color: #00222F;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            <strong>@ViewBag.Message</strong>
        </div>
    }
    <form asp-action="WorkingDetails">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="HospitalName" class="control-label" style="color: white"></label>
            <input asp-for="HospitalName" class="form-control" />
            <span asp-validation-for="HospitalName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ServiceCharge" class="control-label" style="color: white"></label>
            <input asp-for="ServiceCharge" class="form-control" />
            <span asp-validation-for="ServiceCharge" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="WorkingTime" class="control-label" style="color: white"></label>
            <input asp-for="WorkingTime" class="form-control" />
            <span asp-validation-for="WorkingTime" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label" style="color: white">
                <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
