@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Services";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DhakaChoiceLtd.</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
<img src="~/Images/Business-partner-web2.png" style="position: fixed;height: 100vh;overflow: hidden;top: 0;width: 100%;z-index: -111;" />

<img src="~/Images/Business-partner-web-0.png" style="width: 100%; height: 60px; margin-top: 90px;"/>

<div style="width: 86%; margin-left: 7%; ">
    <div class="row">
        <div class="col-md-4" id="Business-partner" style="margin-top: 30px;">
            <a href="@Url.Action("DoctorMainPage", "Doctor")">
                <img src="~/Images/Business-partner-web-doctor-service.png" style="width: 100%; height: 100%" />
            </a>
        </div>
        <div class="col-md-4" id="Business-partner" style="margin-top: 30px;">
            <img src="~/Images/Business-partner-web-hospital-service.png" style="width: 100%; height: 100%" />
        </div>
        <div class="col-md-4" id="Business-partner" style="margin-top: 30px;">
            <img src="~/Images/Business-partner-web-hotel-and-cominiuty-service.png" style="width: 100%; height: 100%" />
        </div>
        <div class="col-md-4" id="Business-partner" style="margin-top: 30px;">
            <img src="~/Images/Business-partner-web-Medical-service.png" style="width: 100%; height: 100%" />
        </div>
        <div class="col-md-4" id="Business-partner" style="margin-top: 30px;">
            <img src="~/Images/Business-partner-web-Ticket-service.png" style="width: 100%; height: 100%" />
        </div>
        <div class="col-md-4" id="Business-partner" style="margin-top: 30px;">
            <img src="~/Images/Business-partner-web-transport.png" style="width: 100%; height: 100%" />
        </div>
        <div class="col-md-4" id="Business-partner" style="margin-top: 30px;">
            <img src="~/Images/Home-Service.png" style="width: 100%; height: 100%" />
        </div>
        <div class="col-md-4" id="Business-partner" style="margin-top: 30px;">
            <img src="~/Images/Entartainment-Service.png" style="width: 100%; height: 100%" />
        </div>
    </div>
</div>
</body>