@{
    ViewData["Title"] = "";
    Layout = "_FooterLayout2";
}
<div style="text-align: center; margin-top: 70px;">
    <img src="~/Images/empty.65a963f.jpg" style="width:600px; height:400px;" />
    <div style="margin-top: 30px;">
        <h3>You don't have food in your cart</h3>
        <p>Please order some food</p>
        <a class="h3" style="text-decoration: none; color: orangered;" asp-area="" asp-controller="Home" asp-action="Index">→ Browse Restaurants</a>
    </div>
</div>