@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row" id="MyaccountDiv">
    <div class="col-md-2" id="Myaccount-col-2">
        <h4 class="Myaccounth4">My Account</h4>
        <div id="Myaccounth5">
            <h5 class="Myaccounth5">Past Orders</h5>
            <h5 class="Myaccounth5">Log Out</h5>
        </div>
    </div>
    <div class="col-md-10" id="Myaccountpastorderdiv">
        <div>
            <h4 class="Myaccounth4">Past Orders (3)</h4>
        </div>
        <div style="margin-top: 10px;">
            <div style="width: 100%; height: 130px; border: 1px solid #D1D1D1; border-radius: 5px;" id="cart-container" data-toggle="modal" data-target="#restaurantInfo">
                <div style="width: 100%; padding: 15px;">
                    <div style="height:55px;">
                        <div class="float-left">
                            <img src="~/SpecificFoodDamo/SultanDinesLogo.PNG" class="MyaccountImg" />
                            <div class="Myaccount-p-div">
                                <b style="font-weight:400; font-size: 12px;">Order #Y4-72938</b><br>
                                <p class="Myaccount-p">Sultan's Dine - Dhanmondi</p>
                                <p class="Myaccount-p2">Kacchi (Bashmoti) Half with Borhani</p>
                            </div>
                        </div>
                        <div class="float-right">
                            <p class="Myaccount-p3">DELIVERED</p>
                        </div>
                    </div>
                    <div style="transform: translateY(-30px); text-align: center">
                        <div class="modal-header" style="width: 100%;">

                        </div>
                        <div>
                            <div class="float-left d-inline-flex" style="margin-top: 8px;">
                                <p class="itemcardP" style="padding-right: 4px;">23 Aug, 2021</p>
                                &bull;
                                <p class="itemcardP" style="padding-right: 4px; padding-left: 4px;">6:42 PM</p>
                                &bull;
                                <p class="itemcardP" style="padding-left: 4px;">Tk. 117</p>
                            </div>
                            <div class="float-right" style="margin-top: 5px;">
                                <a style="color: #ffff;" class="pastorderbutton">Order Again</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 10px;">
            <div style="width: 100%; height: 130px; border: 1px solid #D1D1D1; border-radius: 5px;" id="cart-container" data-toggle="modal" data-target="#restaurantInfo">
                <div style="width: 100%; padding: 15px;">
                    <div style="height:55px;">
                        <div class="float-left">
                            <img src="~/SpecificFoodDamo/SultanDinesLogo.PNG" class="MyaccountImg" />
                            <div class="Myaccount-p-div">
                                <b style="font-weight:400; font-size: 12px;">Order #Y4-72938</b><br>
                                <p class="Myaccount-p">Sultan's Dine - Dhanmondi</p>
                                <p class="Myaccount-p2">Kacchi (Bashmoti) Half with Borhani</p>
                            </div>
                        </div>
                        <div class="float-right">
                            <p class="Myaccount-p3">DELIVERED</p>
                        </div>
                    </div>
                    <div style="transform: translateY(-30px); text-align: center">
                        <div class="modal-header" style="width: 100%;">

                        </div>
                        <div>
                            <div class="float-left d-inline-flex" style="margin-top: 8px;">
                                <p class="itemcardP" style="padding-right: 4px;">23 Aug, 2021</p>
                                &bull;
                                <p class="itemcardP" style="padding-right: 4px; padding-left: 4px;">6:42 PM</p>
                                &bull;
                                <p class="itemcardP" style="padding-left: 4px;">Tk. 117</p>
                            </div>
                            <div class="float-right" style="margin-top: 5px;">
                                <a style="color: #ffff;" class="pastorderbutton">Order Again</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<div class="modal fade" id="restaurantInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: hidden">
    <div class="modal-dialog" role="document">
        <div class="modal-dialog" role="document">
            <div class="modal-content"  style="overflow-y: scroll" id="modalMyAccount">
                <div style="width: 90%;margin-left: 25px;">
                    <div class="modal-header">
                        <h4 class="modal-title">Order Information<b style="font-size: 13px; margin-left: 5px;">#Y4-72938</b></h4>

                        <p style="margin-top: 60px;margin-left: -270px">Items</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <div style="">
                            <div class="float-left">
                                <b>Kacchi (Basmati) 1:2</b>
                                <p style="font-size: 12px;  text-align: left">No Toppings</p>
                            </div>
                            <div class="float-right d-inline-flex">
                                <p>TK.250</p>
                                <p style="margin-left: 10px;">2</p>
                                <p style="margin-left: 10px;">TK.500</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-header" style="width: 100%; transform: translateY(-20px);">
                    </div>
                    <div>
                        <div class="float-left text-left" style="margin-left: 15px; line-height: 50%;">
                            <p>Food Price</p>
                            <p>VAT</p>
                            <p>Delivery Fee</p>
                            <p>Rider Tip</p>
                            <p style="color: orangered">Deal Discount</p>
                            <p style="color: orangered">Voucher Discount</p>
                        </div>
                        <div class="float-right text-right" style="margin-right: 15px; line-height: 50%;">
                            <p>Tk. 1448</p>
                            <p>Tk. 72.4</p>
                            <p>Tk. 30</p>
                            <p>Tk. 20</p>
                            <p style="color: orangered">Tk. 70</p>
                            <p style="color: orangered">Tk. 75</p>
                        </div>
                    </div>
                    <div class="modal-header" style="width: 100%; transform: translateY(-20px);">
                    </div>
                    <div>
                        <div class="float-left" style="margin-left: 15px;">
                            <b>Total</b>
                        </div>
                        <div class="float-right" style="margin-right: 15px;">
                            <b style="color: orangered">Tk. 1445.4</b><br />
                            <del>Tk 1520.4</del>
                        </div>
                    </div>
                    <div style="margin-top: 60px; line-height: 50%;">
                        <div class="text-center">
                            <p>You Saved <b style="color: orangered">Tk. 75</b> from</p>
                            <p class="text-center" style="color: orangered; font-weight: 600">10% OFF + SD200 (Min. ৳700- (Sultan's Dine)</p>
                            <p class="text-center" style="color: orangered; font-weight: 600">Shakib75</p>
                        </div>
                    </div>
                    <a>
                        <div style="width: 94.5%;margin-bottom: 10px;margin-left: 10px; height: 50px; background-color: orangered; border: 1px solid #D1D1D1; border-radius: 5px; text-align: center; margin-top: 20px; cursor: pointer; ">
                            <p style="color: white; margin-top: 10px; font-weight:600">Order Again</p>
                        </div>
                    </a>
                    <h5>Payment</h5>
                    <div class="modal-header" style="width: 100%; transform: translateY(-20px);">
                    </div>
                    <p>Cash on Delivery</p>
                    <h5 style="margin-top: 40px;">Deliver To</h5>
                    <div class="modal-header" style="width: 100%; transform: translateY(-20px);">
                    </div>
                    <div>
                        <p style="font-weight: 600">Home Address</p>
                        <p>Md. Azizur Rohman</p>
                        <p>+88001751897918</p>
                        <p style="font-size: 13px">House 59/D, West Rajabazar, Tejgaon</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>