@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="restaurantfirstDiv">
    <!-- Indicators -->
    <!-- The slideshow -->
    <div id="RestaurantImg" class="p-0">
        <img src="~/SpecificFoodDamo/sultan_s_dine_cover_1628594769942.jpeg" id="RestaurantImg1" />
        <div class="d-md-inline-flex" id="restaurantDiv">
            <img src="~/SpecificFoodDamo/SultanDinesLogo.PNG" id="restaurentLogo" />
            <div class="restaurantnametext">
                <p class="text-white">
                    <b class="restaurantname">Sultan's Dine - Dhanmondi</b>
                    <a id="restaurantAnch" data-toggle="modal" data-target="#restaurantInfo">
                        <i class="fa fa-info-circle" id="info-circle"></i>
                    </a><span class="staricon">&#10026;</span> 4.4/5
                </p>
                <p class="text-white font-weight-light" id="foodtypetext">
                    Indian - Biryani - Pakistani &bull; Pre Order Only
                </p>
            </div>
        </div>
        <div class="d-flex float-right" id="heart">
            <a href="#"><i class="fa fa-heart" id="info-heart"></i></a><p class="text-white">1129</p>
        </div>
    </div>

    <div class="d-flex" id="deliveryfee">
        <p>
            Delivery Time: <b>Pre Order</b>
        </p>
        <p id="p">
            Min Order: <b>Tk. 100</b>
        </p>
        <p id="p">
            Delivery Fee: <b>Tk. 30</b>
        </p>
    </div>

</div>

<div id="MultiCarousel">
    <div class="container p-0">
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" data-interval="1000">
                <div class="MultiCarousel-inner">
                    <div class="item">
                        <div class="pad15">
                            <img src="~/FoodItemImages/kacchi_basmati_borhani_jarda_firni_kacchi_basmati_borhani_jarda_firni_thumbnail_1613472375655.jpg" id="multicarouselImg" />
                            <p class="text-left" style="margin-top: 5px; margin-bottom: -2px;">
                                <b>Kacchi (Bashmoti) Half with Borhani</b>
                            </p>
                            <p class="text-left">
                                Biriyani
                            </p>
                            <div class="modal-header" style="margin-top: -30px">

                            </div>
                            <div style="margin-top: 10px">
                                <div class="float-left d-inline-flex">
                                    <a href="#"><i class="fa fa-heart" style="padding-left: 10px; padding-right: 5px; margin-top: 3px; color: gray"></i></a><p>0</p>
                                </div>
                                <div class="float-right">
                                    <p>
                                        Tk.479 <a href="#"><i class="fa fa-plus-square" style="font-size:24px;color:gray"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/FoodItemImages/kacchi_basmati_half_kacchi_basmati_half_thumbnail_1613472966872.jpg" id="multicarouselImg" />
                            <p class="text-left" style="margin-top: 5px; margin-bottom: -2px;">
                                <b>Kacchi (Bashmoti) Half</b>
                            </p>
                            <p class="text-left">
                                Biriyani
                            </p>
                            <div class="modal-header" style="margin-top: -30px">

                            </div>
                            <div style="margin-top: 10px">
                                <div class="float-left d-inline-flex">
                                    <a href="#"><i class="fa fa-heart" style="padding-left: 10px; padding-right: 5px; margin-top: 3px; color: gray"></i></a><p>8</p>
                                </div>
                                <div class="float-right">
                                    <p>
                                        Tk.250 <a href="#"><i class="fa fa-plus-square" style="font-size:24px;color:gray"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/FoodItemImages/kacchi_basmati_half_with_chicken_roast_barhani_jali_kabab_kacchi_basmati_half_with_chicken_roast_barhani_jali_kabab_thumbnail_1613472706114.jpg" id="multicarouselImg" />
                            <p class="text-left" style="margin-top: 5px; margin-bottom: -2px;">
                                <b>Kacchi (Bashmoti) Half with Chicken</b>
                            </p>
                            <p class="text-left">
                                Set Menu
                            </p>
                            <div class="modal-header" style="margin-top: -30px">

                            </div>
                            <div style="margin-top: 10px">
                                <div class="float-left d-inline-flex">
                                    <a href="#"><i class="fa fa-heart" style="padding-left: 10px; padding-right: 5px; margin-top: 3px; color: gray"></i></a><p>1</p>
                                </div>
                                <div class="float-right">
                                    <p>
                                        Tk.550 <a href="#"><i class="fa fa-plus-square" style="font-size:24px;color:gray"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/FoodItemImages/kacchi_platter_kacchi_platter_thumbnail_1613472021210.jpg" id="multicarouselImg" />
                            <p class="text-left" style="margin-top: 5px; margin-bottom: -2px;">
                                <b>Kacchi Platter</b>
                            </p>
                            <p class="text-left">
                                Platter
                            </p>
                            <div class="modal-header" style="margin-top: -30px">

                            </div>
                            <div style="margin-top: 10px">
                                <div class="float-left d-inline-flex">
                                    <a href="#"><i class="fa fa-heart" style="padding-left: 10px; padding-right: 5px; margin-top: 3px; color: gray"></i></a><p>5</p>
                                </div>
                                <div class="float-right">
                                    <p>
                                        Tk.679 <a href="#"><i class="fa fa-plus-square" style="font-size:24px;color:gray"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/FoodItemImages/plain_polaw_chicken_roast_borhani_plain_polaw_chicken_roast_borhani_thumbnail_1613472126372.jpg" id="multicarouselImg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/FoodItemImages/plain_polaw_platter_plain_polaw_platter_thumbnail_1613471884314.jpg" id="multicarouselImg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/FoodItemImages/sultan_s_dine_plain_polao_thumbnail_1613471030234.jpg" id="multicarouselImg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/FoodItemImages/beef_rezala_beef_rezala_thumbnail_1613474477605.jpg" id="multicarouselImg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/FoodItemImages/borhani_1_glass__borhani_1_glass__thumbnail_1613473062859.jpg" id="multicarouselImg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/FoodItemImages/chicken_roast_chicken_roast_thumbnail_1613474671686.jpg" id="multicarouselImg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/FoodItemImages/jali_kabab_jali_kabab_thumbnail_1613474585500.jpg" id="multicarouselImg" />
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary leftLst"><</button>
                <button class="btn btn-primary rightLst">></button>
            </div>
        </div>

    </div>
</div>
<div class="d-flex" id="restaurantlink">
    <a href="/Home/Mainpage" id="restaurantlink-a">
        Home
    </a>
    <span style="padding-right: 7px">></span>
    <a href="/Home/Restaurant" id="restaurantlink-a">
        Sultan's Dine - Dhanmondi
    </a>
</div>
<div class="ItemsearchDiv">
    <form>
        <i class="fa fa-search" id="searchicon"></i>
        <input type="text" name="SearchFood" class="w-75" placeholder="Search For Dishes in this Restaurant" id="searchietmsrestaurant" />
    </form>
</div>
<div class="row" style="margin-top:50px;">
    <div class="col-md-2 font-weight-bold text-black-50 fixed-sidebar" id="itemlink">

        <a id="itemlink-a" href="#Kacchi">Kacchi</a>

        <a id="itemlink-a" href="#Polao">Polao</a>

        <a id="itemlink-a" href="#Others">Others</a>

        <a id="itemlink-a" href="#Kacchi">Kacchi</a>

    </div>

    <div class="col-md-6" style="overflow-y:visible">
        <section id="Kacchi" class="section">
            <h5>kacchi</h5>
            <div class="itenCard" id="itenCard-container">
                <div class="itemcardtextDiv">
                    <div class="itemcardtext">
                        <b class="itemcardB">Kacchi (Bashmoti) Half with Borhani</b>
                        <p class="itemcardP">
                            Kacchi (Bashmoti) Half with Borhani, soft drinks, borhani, shalad etc.
                        </p>
                    </div>
                    <div class="modal-header">

                    </div>
                    <div class="itemcardicons">
                        <div class="float-left d-inline-flex">
                            <a href="#"><i class="fa fa-heart" id="itemcardheart"></i></a><p>4</p>
                        </div>
                        <div class="float-right">
                            <p>
                                Tk.550 <a href="#"><i class="fa fa-plus-square" id="itemcardplus-square"></i></a>
                            </p>
                        </div>
                    </div>

                </div>
                <img src="~/FoodItemImages/kacchi_basmati_half_with_chicken_roast_barhani_jali_kabab_kacchi_basmati_half_with_chicken_roast_barhani_jali_kabab_thumbnail_1613472706114.jpg" class="itemcardImg" />

            </div>
            <div class="itenCard" id="itenCard-container">
                <div class="itemcardtextDiv">
                    <div class="itemcardtext">
                        <b class="itemcardB">Kacchi (Bashmoti) Half with Borhani</b>
                        <p class="itemcardP">
                            Kacchi (Bashmoti) Half with Borhani, soft drinks, borhani, shalad etc.
                        </p>
                    </div>
                    <div class="modal-header">

                    </div>
                    <div class="itemcardicons">
                        <div class="float-left d-inline-flex">
                            <a href="#"><i class="fa fa-heart" id="itemcardheart"></i></a><p>10</p>
                        </div>
                        <div class="float-right">
                            <p>
                                Tk.550 <a href="#"><i class="fa fa-plus-square" id="itemcardplus-square"></i></a>
                            </p>
                        </div>
                    </div>

                </div>
                <img src="~/FoodItemImages/kacchi_basmati_half_with_chicken_roast_barhani_jali_kabab_kacchi_basmati_half_with_chicken_roast_barhani_jali_kabab_thumbnail_1613472706114.jpg" class="itemcardImg" />

            </div>
        </section>

        <section id="Polao" class="section">
            <h5>polaw</h5>
            <div class="itenCard" id="itenCard-container">
                <div class="itemcardtextDiv">
                    <div class="itemcardtext">
                        <b class="itemcardB">Polau Half with Borhani</b>
                        <p class="itemcardP">
                            Polau Half with Borhani, soft drinks, borhani, shalad etc.
                        </p>
                    </div>
                    <div class="modal-header">

                    </div>
                    <div class="itemcardicons">
                        <div class="float-left d-inline-flex">
                            <a href="#"><i class="fa fa-heart" id="itemcardheart"></i></a><p>3</p>
                        </div>
                        <div class="float-right">
                            <p>
                                Tk.550 <a href="#"><i class="fa fa-plus-square" id="itemcardplus-square"></i></a>
                            </p>
                        </div>
                    </div>

                </div>
                <img src="~/FoodItemImages/plain_polaw_platter_plain_polaw_platter_thumbnail_1613471884314.jpg" class="itemcardImg" />
            </div>
        </section>
        <section id="Kacchi" class="section">
        </section>

    </div>

    <div class="col-md-4" id="itemCart">

        <h4>My Cart</h4>
        <div style="width: 100%;
        height: auto;
        border: 1px solid #D1D1D1;
        border-radius: 5px;text-align:center;">
            <div style="margin-top: 10px;">
                <div class="float-left" style="margin-left: 15px;">
                  <a href="/Home/Restaurant" style="text-decoration: none; color: orangered"><p>Sultan's Dine</p></a>
                </div>
                <div class="float-right d-inline-flex" style="margin-right: 15px;">
                    <p style="font-size: 12px">2 Items Added</p>
                </div>
            </div>
            <div class="modal-header" style="width: 100%; transform: translateY(-35px);">
            </div>
            <div>
                <div style="margin-top: -10px;">
                    <div class="float-left" style="margin-left: 15px; width: 40%;text-align: start">
                        <b>Kacchi (Basmati) 1:2</b>
                        <p style="font-size: 12px;  text-align: left">No Toppings</p>
                    </div>
                    <div class="float-right d-inline-flex" style="margin-right: 15px;">
                        <p style="font-size: 13px">TK.250</p>
                        <a href="#" style="margin-left: 10px;"><i class="fa fa-minus-square" id="itemcardplus-square"></i></a> <p style="margin-left: 10px; font-size: 13px;">2</p> <a href="#" style="margin-left: 10px;"><i class="fa fa-plus-square" id="itemcardplus-square"></i></a>
                        <p style="margin-left: 10px;font-size: 13px">TK.500</p>
                    </div>
                </div>
                <div class="modal-header" style="width: 97.5%; transform: translateY(-35px);margin-left: 5px;">
                </div>
                <div style="margin-top: -10px;">
                    <div class="float-left" style="margin-left: 15px; width: 40%;text-align: start">
                        <b>Kacchi (Basmati) 1:2</b>
                        <p style="font-size: 12px;  text-align: left">No Toppings</p>
                    </div>
                    <div class="float-right d-inline-flex" style="margin-right: 15px;">
                        <p style="font-size: 13px">TK.250</p>
                        <a href="#" style="margin-left: 10px;"><i class="fa fa-minus-square" id="itemcardplus-square"></i></a> <p style="margin-left: 10px; font-size: 13px;">2</p> <a href="#" style="margin-left: 10px;"><i class="fa fa-plus-square" id="itemcardplus-square"></i></a>
                        <p style="margin-left: 10px;font-size: 13px">TK.500</p>
                    </div>
                </div>
            </div>
            <div class="modal-header" style="width: 100%">
            </div>
            <div style="margin-top: 20px;">
                <div class="float-left text-left" style="margin-left: 15px; line-height: 50%;">
                    <p>Food Price</p>
                    <p>VAT</p>
                    <p>Delivery Fee</p>
                    <p>Rider Tip</p>
                    <p style="color: orangered">Deal Discount</p>
                    <p style="color: orangered">Voucher Discount</p>
                </div>
                <div class="float-right text-right" style="margin-right: 15px; line-height: 50%;">
                    <p>Tk. 1448</p>
                    <p>Tk. 72.4</p>
                    <p>Tk. 30</p>
                    <p>Tk. 20</p>
                    <p style="color: orangered">Tk. 70</p>
                    <p style="color: orangered">Tk. 75</p>
                </div>
            </div>
            <div class="modal-header" style="width: 100%; transform: translateY(-20px);">
            </div>
            <div>
                <div class="float-left" style="margin-left: 15px;">
                    <b>Total</b>
                </div>
                <div class="float-right" style="margin-right: 15px;">
                    <b style="color: orangered">Tk. 1445.4</b><br />
                    <del>Tk 1520.4</del>
                </div>
            </div>
            <div style="margin-top: 60px; line-height: 50%;">
                <div class="text-center">
                    <p>You Saved <b style="color: orangered">Tk. 75</b> from</p>
                    <p class="text-center" style="color: orangered; font-weight: 600">10% OFF + SD200 (Min. ৳700- (Sultan's Dine)</p>
                   <p class="text-center" style="color: orangered; font-weight: 600">Shakib75</p>
                </div>
            </div>
            <a><div style="width: 94.5%;margin-bottom: 10px;margin-left: 10px; height: 50px; background-color: orangered; border: 1px solid #D1D1D1; border-radius: 5px; text-align: center; margin-top: 20px; cursor: pointer; ">
    <p style="color: white; margin-top: 10px; font-weight:600">Palce Order</p>
</div></a>
        </div>

        @*<h4>My Cart</h4>
        <div style="width: 100%;
        height: 440px;
        border: 1px solid #D1D1D1;
        border-radius: 5px;
        margin-top: 10px;text-align:center;">
            <img src="~/Images/empty.65a963f.jpg" style="height: 60%; width: 80%; margin-top:10px;" />
            <p style="margin-top: 30px;color: lightslategray;font-size: 13px;width:60%; transform:translateX(70px)">
                <b>Your Cart is Empty</b><br>

                Good food is always cooking! Go ahead, order some yummy items from the menu.
            </p>
        </div>*@
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="restaurantInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: hidden">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalrestaurentrating" style="overflow-y: scroll">
            
            <div class="">
                <!-- Indicators -->
                <!-- The slideshow -->
                <div id="RestaurantImg" class="p-0">
                    <img src="~/SpecificFoodDamo/sultan_s_dine_cover_1628594769942.jpeg" id="RestaurantImg1" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="Restaurantmodalclosebtn">
                        <span aria-hidden="true" style="font-size: 30px; color: white;">&times;</span>
                    </button>
                    <div class="d-md-inline-flex" id="restaurantDiv">
                        <img src="~/SpecificFoodDamo/SultanDinesLogo.PNG" id="restaurentLogo" />
                        <div class="restaurantnametext">
                            <p class="text-white">
                                <b class="restaurantname">Sultan's Dine - Dhanmondi</b>
                            </p>
                            <p class="text-white font-weight-light" id="foodtypetext">
                                Indian - Biryani - Pakistani &bull; Pre Order Only
                            </p>
                        </div>
                    </div>
                </div>

                <div class="d-flex" id="deliveryfee">
                    <p>
                        Delivery Time: <b>Pre Order</b>
                    </p>
                    <p id="p">
                        Min Order: <b>Tk. 100</b>
                    </p>
                    <p id="p">
                        Delivery Fee: <b>Tk. 30</b>
                    </p>
                </div>
                <div>
                    <p style="margin-bottom:-0px; color: orangered; margin-left: 30px;">Rating (2)</p>
                </div>
                <div>
                    <div class="modal-footer" style="margin-bottom: -20px; width: 100%">
                    </div>
                    <div>
                        <div class="float-left" style="margin-left: 30px;">
                            <p>Rokon</p>
                            <p style="margin-top: -10px;">Oct 2, 2021</p>
                            <p style="margin-top: -10px; font-size: 15px;">The pieces of mutton is getting smaller and worse in takeaway. please look into this</p>
                        </div>
                        <div class="float-right">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="modal-footer" style="margin-bottom: -20px; width: 100%">
                    </div>
                    <div>
                        <div class="float-left" style="margin-left: 30px;">
                            <p>Rokon</p>
                            <p style="margin-top: -10px;">Oct 2, 2021</p>
                            <p style="margin-top: -10px; font-size: 15px;">The pieces of mutton is getting smaller and worse in takeaway. please look into this</p>
                        </div>
                        <div class="float-right">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>