@model SSEcommerceWebApp.Models.Area


@{
    ViewData["Title"] = "Add";
    Layout = "_AdminLayout";
}

<div class="page-header" style="margin-top: 20px">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title d-flex">
                <div class="shadow-lg" style="width: 50px; height: 50px; background-color: #098AFC; text-align: center; opacity: 0.7; border-radius: 10px;">
                    <i class="fa fa-list-alt" style="width: 30px; height: 30px; color: White; margin-top:8px;"></i>
                </div>
                <div class="d-inline" style="padding-left: 10px;margin-top: -4px;">
                    <h5>Add</h5>
                    <span>Area</span>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container card border border-primary shadow-lg p-3 mb-5 bg-body rounded-3 w-50 p-3">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            <strong>@ViewBag.Message</strong>
        </div>
    }
<form asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input hidden="" asp-for="Id" class="form-control" />
    <div class="col-12">
        <label class="control-label">Area Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter area name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label class="form-label">Select Country</label>
        <select class="form-control h-26 p-0" asp-for="CountryId" onchange="LoadDivision()" asp-items="@ViewBag.Country" id="country" required><option selected disabled value="-1">--Select Country--</option></select>
    </div>
    <div class="col-12">
        <label class="form-label">Select Division</label>
        <select class="form-control h-26 p-0" asp-for="DivisionId" onchange="LoadDistrict()" id="division" required>
            <option selected disabled value="">Select country then auto fill division</option>
        </select>
    </div>
    <div class="col-12">
        <label class="form-label">Select District</label>
        <select class="form-control h-26 p-0" asp-for="DistrictId" id="district" required>
            <option selected disabled value="">Select division then auto fill district</option>
        </select>
    </div>
    <div class="col-12" style="margin-top: 20px;">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    setTimeout(function () { $(".alert").css('display', 'none'); }, 5000);

    function LoadDivision() {
        var countryId = $("#country").val();
            $.ajax({
                type: "GET",
                url: "/District/LoadDivisionByCountry",
                data: { countryId: countryId },
                success: function (res) {
                    var division = $("#division").val();
                    var d = '<option value="-1">--Select Division--</option>';
                    $.each(res,
                        function (index, itemData) {
                            if (itemData.id == division) {
                                d += '<option selected="selected" value=' +
                                    itemData.id +
                                    '>' +
                                    itemData.name +
                                    '</option>';
                            } else {
                                d += '<option value=' + itemData.id + '>' + itemData.name + '</option>';
                            }

                        });
                    $("#division").html("");
                    $("#division").append(d);
                }
            });
    }

    function LoadDistrict() {
        var divisionId = $("#division").val();
        $.ajax({
            type: "GET",
            url: "/Area/LoadDistrictByDivision",
            data: { divisionId: divisionId },
            success: function (res) {
                var district = $("#district").val();
                var d = '<option value="-1">--Select District--</option>';
                $.each(res,
                    function (index, itemData) {
                        if (itemData.id == district) {
                            d += '<option selected="selected" value=' +
                                itemData.id +
                                '>' +
                                itemData.name +
                                '</option>';
                        } else {
                            d += '<option value=' + itemData.id + '>' + itemData.name + '</option>';
                        }

                    });
                $("#district").html("");
                $("#district").append(d);
            }
        });
    }
</script>